<div class="login">
    <div class="login-card">
      <div class="flex-column gap-lg align-center text-center">
        <h2>Forgot password?</h2>
        <p-messages
          [(value)]="messages"
          [showTransitionOptions]="'500ms'"
          [hideTransitionOptions]="'500ms'"
          [enableService]="false"
          [closable]="false"
        />
        <form (ngSubmit)="triggerForgotPasswordMail()" [formGroup]="forgotPasswordForm">
          <div class="form-row">
            <p-floatLabel>
              <input
                type="email"
                pInputText
                name="email"
                required
                placeholder="Enter E-Mail"
                formControlName="email"
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,4}$"
              />
              <label for="email">E-Mail</label>
            </p-floatLabel>
          </div>

          <p-button
          icon="pi pi-chevron-right"
          iconPos="right"
          [loading]="isLoading"
          [disabled]="!forgotPasswordForm.valid"
          [rounded]="true"
          severity="primary"
          label="Send email"
          type="submit"
          [class]="{ width: '100%' }"
          />
        </form>
        <div class="form-row">
            <a routerLink="/register" routerLinkActive="active">Forgot your username?</a>
        </div>
      </div>
    </div>
  </div>
  