footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px;
  // gap: 128px;
  font-size: var(--lgbody);
  color: var(--whitetext);
  // width: 100%;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: var(--mainhover);
    }
  }
}

@media (max-width: 300px) {
  footer {
    flex-direction: column;
    gap: 16px;
  }
}
