<div class="videos-container">
    <div class="section-container">
        <h3>
            New on Videoflix
        </h3>
        <div class="video-row-container">
            <div class="video-item"></div>
            <div class="video-item"></div>
            <div class="video-item"></div>
        </div>
    </div>
    <!-- <div class="section-container">
        <h3>
            Documentary
        </h3>
        <div class="video-row-container">
            <div class="video-item"></div>
            <div class="video-item"></div>
            <div class="video-item"></div>
        </div>
    </div>
    <div class="section-container">
        <h3>
            Drama
        </h3>
        <div class="video-row-container">
            <div class="video-item"></div>
            <div class="video-item"></div>
            <div class="video-item"></div>
        </div>
    </div>
    <div class="section-container">
        <h3>
            Romance
        </h3>
        <div class="video-row-container">
            <div class="video-item"></div>
            <div class="video-item"></div>
            <div class="video-item"></div>
        </div>
    </div>
    <div class="section-container">
        <h3>
            Comedy
        </h3>
        <div class="video-row-container">
            <div class="video-item"></div>
            <div class="video-item"></div>
            <div class="video-item"></div>
        </div>
    </div>
    <div class="section-container">
        <h3>
            Horror
        </h3>
        <div class="video-row-container">
            <div class="video-item"></div>
            <div class="video-item"></div>
            <div class="video-item"></div>
        </div>
    </div>
    <div class="section-container">
        <h3>
            Sports
        </h3>
        <div class="video-row-container">
            <div class="video-item"></div>
            <div class="video-item"></div>
            <div class="video-item"></div>
        </div>
    </div>
    <div class="section-container">
        <h3>
            Theater
        </h3>
        <div class="video-row-container">
            <div class="video-item"></div>
            <div class="video-item"></div>
            <div class="video-item"></div>
        </div>
    </div> -->
</div>