<div class="videos-container">
    <div class="section-container">
        <h2>
            New on Videoflix
        </h2>
        <div class="video-row-container">
            <div class="video-item" style="background-image: url(http://localhost:8000/media/thumbnails/1000_F_168252903_ehZkcpyr6cJdmQHPx32Uaz4xvuQDdQy8.jpg);"></div>
            <div class="video-item" style="background-image: url(/assets/img/video1.jpeg);"></div>
            <div class="video-item" style="background-image: url(/assets/img/video1.jpeg);"></div>
            <div class="video-item"></div>
            <div class="video-item" style="background-image: url(/assets/img/video1.jpeg);"></div>
            <div class="video-item" style="background-image: url(/assets/img/video1.jpeg);"></div>
            <div class="video-item" style="background-image: url(/assets/img/video1.jpeg);"></div>
            <div class="video-item"></div>
            <div class="video-item"></div>
            <div class="video-item"></div>
        </div>
    </div>
    <div class="section-container">
        <h2>
            Documentary
        </h2>
        <div class="video-row-container">
            <div class="video-item" style="background-image: url(/assets/img/video1.jpeg);"></div>
            <div class="video-item" style="background-image: url(/assets/img/video1.jpeg);"></div>
            <div class="video-item" style="background-image: url(/assets/img/video1.jpeg);"></div>
            <div class="video-item"></div>
        </div>
    </div>
    <div class="section-container">
        <h2>
            Music
        </h2>
        <div class="video-row-container">
            <div class="video-item" style="background-image: url(/assets/img/video1.jpeg);"></div>
            <div class="video-item" style="background-image: url(/assets/img/video1.jpeg);"></div>
            <div class="video-item" style="background-image: url(/assets/img/video1.jpeg);"></div>
            <div class="video-item"></div>
        </div>
    </div>
</div>