.videos-container {
    position: relative;
    min-height: 100vh;
    background-size: auto;
    background-attachment: fixed;
    z-index: 0;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 96px 5%;
    gap: 32px;
    width: 100%;

    }

.section-container {
    display: flex;
    flex-direction: column;

    h2 {
     font-size: var(--start);
    }
    max-width: 100%;
}

.video-row-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    overflow-x: scroll;

}

.video-row-container::-webkit-scrollbar { display: none; }

.video-item {
min-width: 160px;
height: 96px;
background-image: url(/assets/img/start.jpeg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}