<div class="videos-container">
  <!-- First section that includes all videos. -->
  <div class="section-container">
    <h2>New on Videoflix</h2>
    <div class="video-row-container">
      @for (video of videos; track video) {
      <div
        class="video-item"
        [ngStyle]="
          video.thumbnail_file
            ? {
                'background-image':
                  'url(' + baseURL + video.thumbnail_file + ')'
              }
            : {}
        "
        (click)="loadVideo(video)"
      ><h3>{{video.title}}</h3></div>
      }
    </div>
  </div>

  <!-- Dynamic genre sections -->
  @for (genre of genres; track genre) {
  <div class="section-container">
    @if (filterVideosByGenre(genre).length > 0) {
    <h2>{{ genre }}</h2>
    <div class="video-row-container">
      @for (video of filterVideosByGenre(genre); track video) {

      <div
        class="video-item"
        [ngStyle]="
          video.thumbnail_file
            ? {
                'background-image':
                  'url(' + baseURL + video.thumbnail_file + ')'
              }
            : {}
        "
        (click)="loadVideo(video)"
      ><h3>{{video.title}}</h3></div>
      }
    </div>
    }
  </div>
  }
</div>
