.start {
    background: 
        linear-gradient(180deg, #000000 -9.91%, rgba(0, 0, 0, 0.55) 54.3%, #000000 98.36%),
        url(/assets/img/start.jpeg);
    position: relative;
    min-height: 100vh;
    background-size: auto;
    background-attachment: fixed;
    z-index: 0;
    color: white;

    //Position the content in the center of the page
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.login-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    padding: 16px;
    z-index: 0;

    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    div>input {
        width: 100%;
    }
}

.startheadline {
    font-size: var(--headline);
    font-weight: 700;
}

.starttext {
    font-size: var(--start);
    margin-bottom: 16px;
}

.formtext {
    font-size: var(--body);
    font-weight: 200;
}

