<div class="video-player-container" (click)="onContainerClick($event)">
  <video
    id="video-player"
    autoplay
    controls
    poster="{{ baseURL + this.videoData.thumbnail_file }}"
    src="{{ baseURL + this.videoData.video_file_720p }}"
  ></video>
  @if (!showQualityMenu) {
      <div class="video-quality-btn">

          <p-button icon="pi pi-cog" [rounded]="true" [text]="true" severity="secondary" size="large" (click)="openSelectQualityMenu($event)"/>
      </div>
  }
  @else {
  <div class="video-quality-menu">
    <div class="quality-btn" (click)="selectQuality('360p')">360p</div>
    <div class="quality-btn" (click)="selectQuality('720p')">720p</div>
    <div class="quality-btn" (click)="selectQuality('1080p')">1080p</div>
</div>
}
</div>
