.video-player-container {
  width: 100%;
  height: 100%;

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: black;
  }

  &:hover .video-quality-menu {
    display: flex;
  }

  &:hover .video-quality-btn {
    display: block;
  }
}

#video-player {
  height: 100%;
  width: 100%;
}

.video-quality-menu,
.video-quality-btn {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 144px;
}

.video-quality-menu {
  background-color: lightgray;
  width: 64px;
  bottom: 48px;
  right: 144px;
}
.video-quality-btn {
  background-color: transparent;
  width: 48px;
  bottom: 26px;
}

.quality-btn {
  padding: 8px;
  width: 100%;
  height: 100%;
  background-color: lightgray;

  text-align: center;

  &:hover {
    background-color: darkgray;
    cursor: pointer;
  }
}
