.video-player-container {
  width: 100%;
  height: 100%;

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: black;
  }

  &:hover .quality-btn {
    display: block;
  }
}

#video-player {
  height: 100%;
  width: 100%;
}

.quality-btn {
  display: none;
  width: 32px;
  height: 32px;
  background-color: lightgray;
  position: absolute;
  bottom: 80px;
  right: 16px;
  text-align: center;
}
