<div class="login">
  <div class="login-card">
    <div class="flex-column gap-lg align-center text-center">
      <h2>Log In</h2>
      <p-messages
        [(value)]="messages"
        [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"
        [enableService]="false"
        [closable]="false"
      />
      <form (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="form-row">
          <p-floatLabel>
            <input
              type="text"
              pInputText
              name="username"
              placeholder="Enter Username"
              formControlName="username"
              required
            />
            <label for="username">Username</label>
          </p-floatLabel>
        </div>
        <div class="form-row">
          <p-floatLabel>
            <p-password
              name="password"
              placeholder="Enter Password"
              formControlName="password"
              [feedback]="false"
              [toggleMask]="true"
              required
            />
            <label for="password">Password</label>
          </p-floatLabel>
        </div>

        <!-- <div class="form-row">
          <div class="checkbox-container">
            <p-checkbox
            formControlName="setCookie"
            value="cookieSet"
            inputId="binary"
            />
            <label for="binary">Remember me</label>
          </div>
        </div> -->
        <p-button
        icon="pi pi-chevron-right"
        iconPos="right"
        [loading]="isLoading"
        [disabled]="!loginForm.valid"
        [rounded]="true"
        severity="primary"
        label="Log In"
        type="submit"
        [class]="{ width: '100%' }"
        />
      </form>
      <div>Forgot Password?</div>
      <div class="form-row">
        <div class="bottom">
          <div>New to Videoflix?</div>
          <a routerLink="/register" routerLinkActive="active">Sign Up now</a>
        </div>
      </div>
    </div>
  </div>
</div>
