@import "primeicons/primeicons.css";

html,
body,
app-root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button {
  cursor: pointer;
}

:root {
  /* Font size variables */
  --small: 15px; // error messages
  --body: 16px; // mobile texts plus desktop video description, toasts and static body
  --lgbody: 18px; //desktop inputs, desktop help texts, button labels
  --start: 20px; //mobile
  --lgstart: 24px; //desktop
  --smheadline: 32px; // static headline
  --headline: 40px; // mobile headlines
  --lgheadline: 48px; // desktop headlines
  --title: 64px; // video title
  --lgtitle: 88px; // desktop video title

  /* Color variables */
  --main: #2e3edf;
  --mainhover: #505ded;
  --disabled: #2e3edf50;
  --error: #ff002e;
  --whitetext: #ffffff;
}

.flex-row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

app-footer {
  display: flex;
  justify-content: center;
  font-size: var(--lgbody);
  color: var(--whitetext);
}

app-header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 10px 16px;
  height: calc(108px - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
