@import "primeicons/primeicons.css";

html,
body,
app-root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: var(--body);
}

button {
  cursor: pointer;
}

:root {
  /* Font size variables */
  --small: 15px; // error messages
  --body: 14px; // mobile texts plus desktop video description, toasts and static body
  --lgbody: 18px; //desktop inputs, desktop help texts, button labels
  --start: 20px; //mobile
  --lgstart: 24px; //desktop
  --smheadline: 32px; // static headline
  --headline: 40px; // mobile headlines
  --lgheadline: 48px; // desktop headlines
  --title: 64px; // video title
  --lgtitle: 88px; // desktop video title

  /* Color variables */
  // --main: #2e3edf;
  --main: #3B82F6; //primeNG
  --mainhover: #505ded;
  --disabled: #2e3edf50;
  --error: #ff002e;
  --whitetext: #ffffff;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.gap-sm {
  gap: 8px;
}

.gap-md {
  gap: 16px;
}

.gap-lg {
  gap: 32px
}

// Start & Static
.start {
  background: 
      linear-gradient(180deg, #000000 -9.91%, rgba(0, 0, 0, 0.75) 54.3%, #000000 98.36%),
      url(/assets/img/start.jpeg);
  position: relative;
  min-height: 100vh;
  background-size: auto;
  background-attachment: fixed;
  z-index: 0;
  color: white;

  //Position the content in the center of the page
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
  padding: 16px;
  z-index: 0;

  div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
  }

  div>input {
      width: 100%;
  }
}

.startheadline {
  font-size: var(--headline);
  font-weight: 700;
}

.starttext {
  font-size: var(--start);
  margin-bottom: 16px;
}

.formtext {
  font-size: var(--body);
  font-weight: 200;
}


// Login

.login {
  background: 
      linear-gradient(180deg, #000000 -9.91%, rgba(0, 0, 0, 0.5) 54.3%, #000000 98.36%),
      url(/assets/img/login.jpeg);
  position: relative;
  min-height: 100vh;
  background-size:cover;
  background-attachment:fixed;
  z-index: 0;
  // color: white;

  //Position the content in the center of the page
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


input {
  width: 100%;
}


.login-card {
  // background-color: rgba(255, 255, 255, 0.1);
  background-color: white;
  width: 90%;
  max-width: 520px;
  height: auto;
  border-radius: 40px;
  padding: 24px;

  .form-row {
    width: 100%;
  }

  div > form {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  // div {
  //   width: 100%;
  // }

  h2 {
    margin: 0;
    font-size: var(--headline);
    color: var(--main);
  }

  .bottom {
    display: flex;
    justify-content: space-evenly;
  }
}

.checkbox-container {
  display: flex;
  gap: 8px;
  width: 500px;
}

// Apps

app-footer {
  display: flex;
  justify-content: center;
  font-size: var(--lgbody);
  color: var(--whitetext);
}

app-header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 10px 5%;
  height: calc(108px - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}