<div class="login">
    <div class="login-card">
      <div class="flex-column gap-lg align-center text-center">
        <h2>Reset password</h2>
        <div class="form-row">Create a new password for your account.
        </div>
        <p-messages
          [(value)]="messages"
          [showTransitionOptions]="'500ms'"
          [hideTransitionOptions]="'500ms'"
          [enableService]="false"
          [closable]="false"
        />

        <form (ngSubmit)="requestPasswordUpdate()" [formGroup]="resetPasswordForm">
            <div class="form-row">
                <p-floatLabel>
                  <p-password
                    name="password"
                    [feedback]="true"
                    required
                    placeholder="Enter Password"
                    formControlName="password"
                    [toggleMask]="true"
                  />
                  <label for="password">Password</label>
                </p-floatLabel>
              </div>
              <div class="form-row">
                <p-floatLabel>
                  <p-password
                    name="password_repeat"
                    [feedback]="false"
                    required
                    placeholder="Repeat Password"
                    formControlName="password_repeat"
                    [toggleMask]="true"
                  />
                  <label for="password_repeat">Repeat Password</label>
                </p-floatLabel>
                </div>

          <p-button
          icon="pi pi-chevron-right"
          iconPos="right"
          [loading]="isLoading"
          [disabled]="!resetPasswordForm.valid"
          [rounded]="true"
          severity="primary"
          label="Update password"
          type="submit"
          [class]="{ width: '100%' }"
          />
        </form>
        <div class="form-row">
            <a routerLink="/register" routerLinkActive="active">Forgot your username?</a>
        </div>
      </div>
    </div>
  </div>